log
run.sh

dataset_rank.py

dataset_stat


requirements.txt

# Ignore everything in dataset folder except retrieve.py
dataset/*
!dataset/retrieve.py

best_model_weight

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
